.popup__close-button {
  background-image: url(../../../images/close-icon.svg);
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 100%;
  left: 100%;
}

@media screen and (max-width: 540px) {
  .popup__close-button {
    margin: 8px;
    box-sizing: border-box;
    width: 26px;
    height: 26px;
    left: calc(100% - 34px);
  }
}
