@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts_Inter.css);
@import url(./blocks/root/root.css);
@import url(./blocks/page/page.css);
@import url(./blocks/button/button.css);
@import url(./blocks/user-form/user-form.css);
@import url(./blocks/user-form/__title/user-form__title.css);
@import url(./blocks/user-form/__input/user-form__input.css);
@import url(./blocks/user-form/__submit-button/user-form__submit-button.css);
@import url(./blocks/user-form/__alt-option/user-form__alt-option.css);
@import url(./blocks/user-form/__redirect-link/user-form__redirect-link.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__field/popup__field.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_active/popup__error_active.css);
@import url(./blocks/popup/_picture/popup_pictire.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__picture/popup__picture.css);
@import url(./blocks/popup/__picture-caption/popup__picture-caption.css);
@import url(./blocks/popup/__submit-button/popup__submit-button.css);
@import url(./blocks/popup/__submit-button/_disabled/popup__submit-button_disabled.css);
@import url(./blocks/popup/__status/popup__status.css);
@import url(./blocks/popup/__status-img/popup__status-img.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__group/header__group.css);
@import url(./blocks/header/__redirect-link/header__redirect-link.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__logout/header__logout.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/content/content.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar-overlay/profile__avatar-overlay.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__row/profile__row.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__picture/element__picture.css);
@import url(./blocks/element/__delete-button/element__delete-button.css);
@import url(./blocks/element/__delete-button/_hidden/element__delete-button_hidden.css);
@import url(./blocks/element/__info/element__info.css);
@import url(./blocks/element/__description/element__description.css);
@import url(./blocks/element/__like-group/element__like-group.css);
@import url(./blocks/element/__like-button/element__like-button.css);
@import url(./blocks/element/__like-count/element__like-count.css);
@import url(./blocks/element/__like-button/_active/element__like-button_active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
